<h1 class="jimbo_header"><%= @start_language %> to <%= @end_language %> <%= @category.name %> </h1>

<a href="/categories?&amp;end_language=#{@end_language.name}&amp;start_language=#{@start_language.name}" id="back_to_category">
<h3 class="jimbo_header language_delta">
  <span class="glyphicon glyphicon-arrow-left"></span>
  <span id="start_lang"><%= @start_language %></span>
  to
  <span id="end_lang"><%= @end_language %></span>
  <span>Categories</span>
</h3></a>

<%= link_to "Add Question!", {:controller => 'questions', :action => 'new', :start_language => @start_language, :end_language => @end_language, :category => @category.id}, {:class => 'add_question_button'} %>

<div class="answers">
  <%= render partial: 'shared/question', collection: @questions, :locals => {start_language: @start_language, end_language: @end_language } %>
</div>
