<h1 class="jimbo_header" id="<%=@question.id%>"><%= @question.query %> </h1>

<h3 class="jimbo_header"><%= @start_language.name %> to <%= @end_language.name %> Answers</h3>

<%= link_to "Add Answer", new_answer_path(question: @question), {:class => 'add_answer'} %>

<div class="answers">
  <%= render partial: 'shared/answer', collection: @answers %>
</div>

<script>
  $(document).ready(function(){
    var questionId = $("h1").attr("id");
    var players = {};

    $.get('/get_answers/', { question_id: questionId }, function(response) {
      response.forEach(function(answer){
          players[answer.id] = new Player({
              play_sel: "#play_answer_" + answer.id,
              view_sel: "#preview_answer_" + answer.id
          });
          players[answer.id].play(JSON.parse(answer.delta));
      });  
    });
  });
</script>

