<h1 class="<%= @question.category_id %> jimbo_header" id="<%=@question.id%>"><%= @question.query%> </h1>
<a id="back_to_category" href=""><h3 class="jimbo_header language_delta">
  <span class="glyphicon glyphicon-arrow-left"></span>
  <span id="start_lang"><%= @question.start_language %></span>
  to
  <span id="end_lang"><%= @question.end_language %></span>
  <span> (<%= @question.category.name %>) </span>
</h3></a>

<div class="answers">
  <%= link_to "Add Answer", new_answer_path(question: @question), {:class => 'add_answer'} %>
  <%= render partial: 'shared/answer', collection: @answers %>
</div>

