<div class="answers_list_item">

  <h3 class="answers_index"><span class="answer-num">Answer: <%= answer_counter + 1 %></span></span>
    <span class="vote_count"><%= answer.upvote_count %> Up / <%= answer.downvote_count %> Down</span> </h3>

  <pre class="show_answer" id="preview_answer_<%= answer.id %>" value="<%=answer.id%>" >
  </pre>

  <button id="play_answer_<%= answer.id %>" class="btn btn-primary btn-sm">Play</button> <%= link_to 'See Answer', answer_path(answer) %>

  <div id="loading-bar<%= answer.id %>" class="loading-bar-wait">
  </div>
</div>
