<div class="answer-block">
  <h4 class="question_index"> <%= link_to question.query, question_path(question)%> </h4>

  <% if !question.answers.empty? %>
    <span style="font-family: Raleway, sans-serif"><%= link_to 'Top answer', answer_path(question.answers.first) %> submitted by <%= question.answers.first.user.username %> <%= link_to '(see more answers)', question_path(question) %></span>
    
    <pre class="show_answer" id="Preview_Question_<%=question.id %>">

    </pre>
    <button id="Play_Question_<%= question.id %>" class="btn btn-primary btn-sm">Play</button>
     <%= link_to 'View all Deltas', question_path(question), :class=>"btn btn-success btn-sm" %>
  <% else %>
    <p><%= link_to 'Submit an answer', question_path(question), :class => 'question_link' %></p>
  <% end %>
</div>
