<h1 class="jimbo_header custom"><%= @question.start_language %> to <%= @question.end_language %></h1>
<h2 class="jimbo_header custom question"><%= @question.query %></h2>

<a id="question_return" href="/questions/<%=@question.id%>" >
  <h3 class="jimbo_header custom new" id="language_delta">
    <span class="glyphicon glyphicon-arrow-left"></span>
    Question
  </h3>
</a>

<div class="answers new">
  <div class="instructions">
    <h3>Instructions</h3>
    <ol>
      <li>Type out or copy and paste the <%= @question.start_language %> solution</li>
      <li>When ready, press <button id="preview_record" class="btn btn-danger btn-small">Record</button></li>
      <li>Morph the code into the <%= @question.end_language %> solution</li>
      <li>Press <button id="preview_record" class="btn btn-danger btn-small">Record</button> again to stop.</li>
      <li>Preview with <button id="preview_play" class="btn btn-primary btn-small">Play</button></li>
      <li>Save and submit with <button id="preview_save" class='btn btn-warning btn-small'>Save</button></li>
    </ol>
  </div>

  <div id="recorder">
    <%= form_for @answer, url: '/answers/create.json', method:'post', html: { name:"recorder" } do |f| %>
      <%= f.hidden_field :question_id, :value => @question.id %>
      <%= f.text_area(:delta, size: '50x7', name:'box', placeholder: "Type code example here. Then hit record to start recording your demo.") %>
      <%= f.submit "Save" , :class => "btn btn-warning btn-lg", :id => "save" %>
    <% end %>
    <button id="record" class="btn btn-danger btn-lg"><div id="record-light" class="record-off"></div>Record</button>
    <button id="play" class="btn btn-primary btn-lg">Play</button>
    <button id="reset" class="btn btn-warning btn-lg">Reset</button>

    <pre id="view"></pre>
  </div>

</div>