<h1 style='color:white;'>Questions Admin</h1>
<table class='table' style='color:white;'>
<% @answers.each do |answer| %>
  <tr>
    <td><%= answer.question.category.name %></td>
    <td><%= answer.question.query %></td>
    <td><%= link_to answer.user.username, admin_user_path(answer.user) %></td>
    <td><%= link_to 'show', answer_path(answer) %></td>
    <td><%= link_to "delete", admin_answer_path(answer), :confirm => "Are you sure?", :method=>:delete %></td>
  </tr>
<% end %>
</table>