<!DOCTYPE html>
<html>

<head>
  <title>The Delta</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Raleway|Open+Sans:400,300' rel='stylesheet' type='text/css'>
</head>
<% if @splash %>
  <body class="custom splash">
<% else %>
  <body class="custom">
<% end %>
<nav class="background-nav"></nav>
<nav class="navbar navbar-default nav" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'The Delta', root_path, class:"navbar-brand reload" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#"><% signed_in? %></a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <li class="active reload"><a href="/">Pick Your Languages</a></li>
          <li><a href="/team">Team</a></li>
        </li>
        <% if signed_in? %> 
            <% if current_admin %>
              <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
              <ul class="dropdown-menu">
              <li><%= link_to 'Admin - Users', admin_users_path %></li>
              <li><%= link_to 'Admin - Answers', admin_answers_path %></li>
              </ul> 
              </li> 
            <% end %>
            <li class="dropdown">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %>  <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile - " + current_user.name, profile_path %></li>
              <li class="divider"></li>
              
              <li><%= link_to 'Logout', logout_path %></li>
            </ul>
          </li>
        <% else %> 
          <li><%= link_to 'Login', login_path %></li>
          <li><%= link_to 'Sign up', sign_up_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container wrapper">

  
    <div id='flash_box'>
      <% flash.each do |type, message| %>
      <div class="flash_<%=type%>">
        <%= message %>
      </div>
      <% end %>
    </div>
  
  <div id="page-identifier" data-controller="<%= @controller %>" data-action="<%= @action %>">
   <%= yield %>
  </div>

</div>

<% if @splash %>
  <footer id="footer">
    <span style="font-size: 1.5em; font-weight: 400;"><a href="/team" class="team_link">Designed and Developed by</a></span> 
    <br> <a href="https://github.com/plondon" class="team_link" target="_blank">Phil London</a>
    <br> <a href="https://github.com/shaunmcgeever" class="team_link" target="_blank">Shaun McGeever</a>
    <br> <a href="https://github.com/Adrian-Pask" class="team_link" target="_blank">Adrian Pask</a>
    <br> and <a href="https://github.com/JohnathanWeisner" class="team_link" target="_blank"></a>Johnathan Weisner
  </footer>
<% end %>

</body>
</html>
